nav.navbar.navbar-fixed-top.navbar-inverse
	div.container
		div.navbar-header
			button(type="button", data-toggle="collapse", data-target="#navbar", aria-expanded="false", aria-controls="navbar").navbar-toggle.collapsed
				span.src-only
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a(href="/").navbar-brand CAN
		div#navbar.collapse.navbar-collapse
			ul.nav.navbar-nav.menu-items
				li.can
					a(ui-sref="can") CAN
			ul.nav.nav-bar.navbar-right
				