div#scan.container
	label
	div.form-inline
		div.form-group
			input.form-control(placeholder="00", maxlength="2", ng-model="scan.value").hidden
			select.form-control(ng-model="scan.type")
				option(selected="selected") Changed
				option Unchanged
				option Increased
				option Decreased
				
				
		button.col-md.2.btn.btn-default(ng-click="startScan()", ng-class="scan.state == 'started' ? 'hidden' : ''") Start scan
		button.col-md.2.btn.btn-default(ng-click="nextScan()", ng-class="scan.state == 'started' ? '' : 'hidden'") Next scan
		button.col-md.2.btn.btn-default(ng-click="restartScan()") Restart
	label

	table.table.table-condensed
		thead
			tr
				th ID
				th Length
				th(colspan="8") Byte(s)
		tbody
			tr(ng-repeat="(index, message) in scan.messages")
				td	{{message.id}}
				td	{{message.bytes.length}}
				td(ng-class="message.bytes[0].changed == true ? 'changed' : ''")	{{ message.bytes[0].value }}
				td(ng-class="message.bytes[1].changed == true ? 'changed' : ''")	{{ message.bytes[1].value }}
				td(ng-class="message.bytes[2].changed == true ? 'changed' : ''")	{{ message.bytes[2].value }}
				td(ng-class="message.bytes[3].changed == true ? 'changed' : ''")	{{ message.bytes[3].value }}
				td(ng-class="message.bytes[4].changed == true ? 'changed' : ''")	{{ message.bytes[4].value }}
				td(ng-class="message.bytes[5].changed == true ? 'changed' : ''")	{{ message.bytes[5].value }}
				td(ng-class="message.bytes[6].changed == true ? 'changed' : ''")	{{ message.bytes[6].value }}
				td(ng-class="message.bytes[7].changed == true ? 'changed' : ''")	{{ message.bytes[7].value }}